@model System.Collections.Generic.List<projektInz.web.Models.WidokKontrahent>

@{
    ViewBag.Title = "Kontrahenci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kontrahenci</h2>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Nazwa Firmy</th>
                <th>Adres</th>
                <th>Nip</th>
                <th>Nr. Telefonu</th>
                <th>E-mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kontr in this.Model)
            {
                <tr>
                    <td>@kontr.Imię</td>
                    <td>@kontr.Nazwisko</td>
                    <td>@kontr.NazwaFirmy</td>
                    <td>@kontr.Adres</td>
                    <td>@kontr.Nip</td>
                    <td>@kontr.NrTel</td>
                    <td>@kontr.Email</td>
                    <td>EDYTUJ</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.ActionLink("Dodaj","DodajKontrahenta")
