@model projektInz.web.Models.WidokFirmy

@{
    ViewBag.Title = "Edytuj klienta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edytuj Klienta</h2>

@using (Html.BeginForm("EdytujFirme", "Klienci", FormMethod.Post, new {role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.NazwaFirmy, "Nazwa Firmy")
        @Html.TextBoxFor(m => m.NazwaFirmy,new { @class = "form-control", placeholder = "Wprowadź nazwę" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Adres)
        @Html.TextBoxFor(m => m.Adres,new { @class = "form-control", placeholder = "Wprowadź nazwę" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NrTel, "Numer Telefonu")
        @Html.TextBoxFor(m => m.NrTel,new { @class = "form-control", placeholder = "Wprowadź nazwę" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email,new { @class = "form-control", placeholder = "Wprowadź nazwę" })
    </div>
    <input type="submit" value="Zapisz" />
}
