@model projektInz.web.Models.NowyProdukt

@{
    ViewBag.Title = "Dodaj produkt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodaj produkt</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
<br/>    
    @Html.LabelFor(m => m.Nazwa)
    @Html.TextBoxFor(m => m.Nazwa)    
<br/>       
    @Html.LabelFor(m => m.Stan)
    @Html.TextBoxFor(m => m.Stan)   
<br/>        
    @Html.LabelFor(m => m.CenaZakupu)
    @Html.TextBoxFor(m => m.CenaZakupu)   
<br/>        
    @Html.LabelFor(m => m.CenaSprzedazy)
    @Html.TextBoxFor(m => m.CenaSprzedazy)   
<br/>   
    <input type="submit" value="Dodaj" />
}
