@model projektInz.web.Models.LocalPasswordModel


@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Nowe hasło</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword, "Nowe hasło")
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword, "Powtórz hasło")
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Set password" />
    </fieldset>
}
